<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>暗記アプリMyNote</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body onload="showPopup('visiblePopup')">
    <div class="outerWrapper">

        <!-- ヘッダーをインクルード -->
        <header id="header" class="">
            <nav>
                <ul>
                    <li><a class="nav" th:href="@{/mynote}"><i class="fa-solid fa-house-chimney"></i></a></li>
                    <li><a class="nav" th:href="@{/mynote/admin}"><i class="fa-solid fa-gear"></i></a></li>
            </nav>
            <h1>myNote<i class="fa-solid fa-pencil"></i></h1>
        </header>

        <main id="main" class="contents">
            <!-- ここにメインコンテンツ -->
			<h2>設定・管理ページ</h2>
			<!--Flashメッセージの表示-->
			<p th:if="${message}" th:text="${message}" style="color: blue;">完了メッセージ</p>
			<p th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;">エラーメッセージ</p>
			
			<div class="study-list">
				<ol class="question-list"> 
					<li th:each="quiz : ${quizzes}"> <!--繰り返し処理-->
						<div class="q-detail">
						<!-- 問題とカテゴリ -->
						<div class="q-link">
							<ul class="q-cate-list">
								<li th:each="cat : ${quiz.categories}">
									<small>カテゴリ</small><span th:text="${cat.categoryName}">カテゴリ名</span>
								</li>
							</ul>
							<a th:href="@{/mynote/quizzes/{id}(id=${quiz.id})}">
								<span th:text="${quiz.question}">問題とリンク</span>
							</a>
						</div>
						<!-- 覚えた（非表示） -->
					<div class="grid-items">
						<div class="visible nav-btn">
							<form th:action="@{'/mynote/quizzes/' + (${quiz.isVisible} ? 'hide' : 'show') + '/' + ${quiz.id}}" method="post">
								<input type="hidden" name="redirectTo" th:value="@{/mynote/admin}" /> <!-- redirectToを変える -->
								<button type="submit" th:text="${quiz.isVisible} ? '覚えたので隠す' : 'もう一度表示する'"></button>
							</form>
							<div id="visiblePopup" class="popup hidden" th:if="${message2}">
								<span th:text="${message2}">完了メッセージ</span>
							</div>
						</div>
						<!-- 編集する -->
						<div class="edit nav-btn">
							<a th:href="@{/mynote/quizzes/edit/{id}(id=${quiz.id})}">編集する</a>
						</div>
					</div>
					</div>
					</li><!-- //ここまでワンセット -->
				</ol>
			</div>

			<a th:href="@{/mynote/quizzes/form}">新規登録</a>
            <!-- //メインコンテンツここまで -->
        </main>

        <!-- フッターをインクルード -->
        <footer id="footer">
            <p>Copyright &copy; 2025 Anki Appli myNote.</p>
        </footer>
    </div><!--outerWrapper-->
	
	<script src="/js/script.js"></script>
</body>

</html>