<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>暗記アプリMyNote</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
    <div class="outerWrapper">

        <!-- ヘッダーをインクルード -->
        <header id="header" class="">
            <nav>
                <ul>
                    <li><a class="nav" th:href="@{/mynote}"><i class="fa-solid fa-house-chimney"></i></a></li>
                    <li><a class="nav" th:href="@{/mynote/admin}"><i class="fa-solid fa-gear"></i></a></li>
            </nav>
            <h1>myNote<i class="fa-solid fa-pencil"></i></h1>
        </header>

        <main id="main" class="contents">
            <!-- ここにメインコンテンツ -->
			<section class="edit-form">
				<h2>確認画面</h2>
				<p>問題: <span th:text="${form.question}"></span></p>
				<p>カテゴリ: <span th:text="${selectedCategory.categoryName}"></span></p>
				<p>正解番号: <span th:text="${form.correctAns}"></span></p>

				<form th:action="${myNoteForm.isNew} ? @{/mynote/quizzes/save} : @{/mynote/quizzes/update}" th:object="${myNoteForm}" method="post" enctype="multipart/form-data">
				    <input type="hidden" th:field="*{question}" />
				    <input type="hidden" th:field="*{answer1}" />
				    <input type="hidden" th:field="*{answer2}" />
				    <input type="hidden" th:field="*{answer3}" />
				    <input type="hidden" th:field="*{answer4}" />
				    <input type="hidden" th:field="*{correctAns}" />
				    <input type="hidden" th:field="*{categoryId}" />
				    <input type="hidden" th:field="*{questionType}" />
				    <button type="submit">登録する</button>
				</form>

				<a th:href="@{/quizzes/form}">戻って修正する</a>

</section>
            <!-- //メインコンテンツここまで -->
        </main>

        <!-- フッターをインクルード -->
        <footer id="footer">
            <p>Copyright &copy; 2025 Anki Appli myNote.</p>
        </footer>
    </div><!--outerWrapper-->

	<script src="/js/script.js"></script>
</body>

</html>