<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>暗記アプリMyNote</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body onload="showPopup('answerPopup','visiblePopup')">
    <div class="outerWrapper">

        <!-- ヘッダーをインクルード -->
        <header id="header" class="">
            <nav>
                <ul>
                    <li><a class="nav" th:href="@{/mynote}"><i class="fa-solid fa-house-chimney"></i></a></li>
                    <li><a class="nav" th:href="@{/mynote/admin}"><i class="fa-solid fa-gear"></i></a></li>
            </nav>
            <h1>myNote<i class="fa-solid fa-pencil"></i></h1>
        </header>

        <main id="main" class="contents">
            <!-- ここにメインコンテンツ -->

			<!--Flashメッセージの表示-->
			<p th:if="${message}" th:text="${message}" style="color: blue;">完了メッセージ</p>
			<p th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;">エラーメッセージ</p>
			
			<section class="study">
				<div class="heading">
				<h2>問題：<span th:text="${quiz.id}"></span></h2>
					<div class="category">
						<p th:each="cat : ${quiz.categories}">
							<span th:text="${cat.categoryName}">カテゴリ名</span>
						</p>
					</div>
				</div>
				<div class="question">
					<p th:text="${quiz.question}"></p>
					<img th:if="${quiz.imagePath}" th:src="@{${quiz.imagePath}}" alt="問題画像" width="100%">
				</div>
				
				<div class="answer">
					<div th:if="${isCorrect != null}"
					     th:classappend="${isCorrect} ? 'correct' : 'incorrect'">
					  <p th:text="${isCorrect} ? '🎉 正解！よくできました！' : '😣ざんねん不正解…'"></p>
					  <div th:if="${isCorrect}">
					  </div>
					</div>
					
				<div class="choice">
					<h3>回答を選択<i class="fa-solid fa-circle-check"></i></h3>
						
					<form class="choice-1" th:action="@{/mynote/quizzes/check/{id}(id=${quiz.id})}" method="post">
					    <input type="hidden" name="ans" value="1"/>
					    <button type="submit" th:classappend="${selected != null and selected == 1} ?
						(${quiz.correctAns == 1} ? ' correct' : ' incorrect') : ''">
						<span th:text="${quiz.answer1}">答え1</span></button>
					  </form>
					  
					  
					  <form class="choice-2" th:action="@{/mynote/quizzes/check/{id}(id=${quiz.id})}" method="post">
					    <input type="hidden" name="ans" value="2"/>
						<button type="submit"	 th:classappend="${selected != null and selected == 2} ?
						(${quiz.correctAns == 2} ? ' correct' : ' incorrect') : ''">
						<span th:text="${quiz.answer2}">答え2</span></button>
					  </form>
					  
					  
					  <!-- answer3/4 は条件付きで表示-->
					  <form class="choice-3" th:if="${quiz.answer3 != null and !quiz.answer3.isEmpty()}" th:action="@{/mynote/quizzes/check/{id}(id=${quiz.id})}" method="post">
					    <input type="hidden" name="ans" value="3"/>
					    <button type="submit"	 th:classappend="${selected != null and selected == 3} ?
						(${quiz.correctAns == 3} ? ' correct' : ' incorrect') : ''">
						<span th:text="${quiz.answer3}">答え3</span></button>
					  </form>
	
					  <form class="choice-4" th:if="${quiz.answer4 != null and !quiz.answer4.isEmpty()}" th:action="@{/mynote/quizzes/check/{id}(id=${quiz.id})}" method="post">
					    <input type="hidden" name="ans" value="4"/>
					    <button type="submit" th:classappend="${selected != null and selected == 4} ?
						(${quiz.correctAns == 4} ? ' correct' : ' incorrect') : ''">
						<span th:text="${quiz.answer4}">答え4</span></button>
					  </form>
				</div>
				
				
				
<!--				<div id="answerPopup" class="popup hidden">-->
<!--				  <div th:if="${isCorrect != null}">-->
<!--				    <p th:text="${isCorrect} ? '正解！' : '不正解…'"></p>-->
<!--				    <p>あなたの選択: <span th:text="${selected}"></span></p>-->
<!--				    <p>正解は: <span th:text="${quiz.correctAns}"></span></p>-->
<!--				  </div>-->
<!--				</div>-->

				

					
<!--						<p>あなたの選択: <span th:text="${selected}"></span></p>-->
<!--						<p>正解は: <span th:text="${quiz.correctAns}"></span></p>-->
<!--					    <p>🎉 正解！よくできました！</p>-->

<!--					<div th:if="${isCorrect != null}">-->
<!--					  <p th:text="${isCorrect} ? '正解！' : '不正解…'"></p>-->
<!--					  <p>あなたの選択: <span th:text="${selected}"></span></p>-->
<!--					  <p>正解は: <span th:text="${quiz.correctAns}"></span></p>-->
<!--					</div>-->
				</div>

<!--このページにはいらないのでは？-->
<!--				<div class="edit">-->
<!--					<a th:href="@{/mynote/quizzes/edit/{id}(id=${quiz.id})}">編集する</a>-->
<!--				</div>-->
							
			</section>
				
	
				<!-- 次の問題へ -->
				<p class="nav-btn wide">
				  <a th:href="@{/mynote/quizzes/{id}(id=${quiz.id + 1})}">次の問題へすすむ</a>
				</p>

				<!-- 問題一覧へ
				<p class="nav_btn">
				  <a th:href="@{/mynote/quizzes}">問題一覧へ</a>
				</p> -->
				<div class="grid-items grid-items3">
				<!-- もう一回 -->
				<div class="try-again">
					<p class="nav-btn">
					  <a th:href="@{/mynote/quizzes/{id}(id=${quiz.id})}">もう一回</a>
					</p>
				</div>
				
				<!-- 休憩する（ポップアップ付き） -->
				<div class="brake-time">
					<p class="nav-btn">
					  <a href="#" onclick="confirmBreak()">休憩する</a>
					</p>
					<!-- ポップアップ（非表示） -->
					<p id="popup" class="popup nav-btn" style="display:none;">
					  本当に今のページから<br>離れますか？<br>
					  <button onclick="goToHistory()">はい</button>
					  <button onclick="closePopup()">キャンセル</button>
					</p>
				</div>

				<!-- 覚えた（非表示） -->
				<div class="visible nav-btn">
					<form th:action="@{'/mynote/quizzes/' + (${quiz.isVisible} ? 'hide' : 'show') + '/' + ${quiz.id}}" method="post">
						<input type="hidden" name="redirectTo" th:value="@{/mynote/quizzes/{id}}" /> <!-- redirectToを変える -->
						<button type="submit" th:text="${quiz.isVisible} ? '覚えた！' : '表示する'"></button>
					</form>
					<div id="visiblePopup" class="popup" th:if="${message2}">
						<span th:text="${message2}">完了メッセージ</span>
					</div>
				</div>
		</div><!--//grid-itemsここまで-->

            <!-- //メインコンテンツここまで -->
        </main>

        <!-- フッターをインクルード -->
        <footer id="footer">
            <p>Copyright &copy; 2025 Anki Appli myNote.</p>
        </footer>
    </div><!--outerWrapper-->
	
	<script src="/js/script.js"></script>
</body>

</html>