<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>暗記アプリMyNote</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
    <div class="outerWrapper" id="top">

        <!-- ヘッダーをインクルード -->
		<header id="header" th:replace="mynote/common::header"></header>

        <main id="main" class="index-nemu">
            <!-- <h2>Let's Study!</h2> -->

            <div class="btn">
                <a th:href="@{/mynote/quizzes}">勉強する</a>
            </div>
            <div class="btn">
                <a th:href="@{/mynote/history}">学習履歴をみる</a>
            </div>
            <div class="btn">
                <a th:href="@{/mynote/quizzes/form}">問題を作成する</a>
            </div>
			
            <!-- <div class="historyback">
                <button class="nav_btn" onClick="history.back(); return false;" type="button">
                    <i class="fa-solid fa-arrow-rotate-left"></i>前のページにもどる</button>
            </div> -->
        </main>
		
        <!-- フッターをインクルード -->
		<footer id="footer" th:replace="mynote/common::footer"></footer>
    </div><!--outerWrapper-->
	
</body>

</html>