<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anki.mynote.repository.MyNoteMapper">
	<resultMap id="QuizWithAnserResult" type="com.anki.mynote.entity.Quiz">
		<id property="id" column="id" />
		<result property="question" column="question" />
		<result property="answer1" column="answer_1" />
		<result property="answer2" column="answer_2" />
		<result property="answer3" column="answer_3" />
		<result property="answer4" column="answer_4" />
		<result property="correctAns" column="correct_ans" />
		<result property="categoryId" column="category_id" />
<!--		<result property="categoryIName" column="category_name" />-->
		<result property="imagePath" column="image_path" />
		<result property="isVisible" column="is_visible" />
		<!-- associationが先 --><!--問題と回答履歴：1対1の関係-->
		<association property="history" javaType="com.anki.mynote.entity.History">
			<id property="quizId" column="quiz_id" />
			<result property="isCorrect" column="is_correct" />
			<result property="answeredAt" column="answered_at" />
		</association>
		<!-- collectionは最後 --><!--問題とカテゴリ：1対多の関係-->
	<collection property="categories" ofType="com.anki.mynote.entity.Category">
		<id property="categoryId" column="category_id" />
		<result property="categoryName" column="category_name" />
	</collection>
	</resultMap>
	
	<resultMap id="CategoryResultMap" type="com.anki.mynote.entity.Category">
	    <id property="categoryId" column="category_id"/>
	    <result property="categoryName" column="category_name"/>
	</resultMap>
	
<!-- エイリアスを一致させる　例： c.name as category_nameとしたならcolumn="category_name"とする -->
	<!--全件検索
	<select id="selectAll" resultType="com.anki.mynote.entity.Quiz">
		SELECT id, question, image_path as imagePath, answer_1 as answer1, answer_2 as answer2, answer_3 as answer3, 
		answer_4 as answer4, correct_ans as correctAns, category_id as categoryId FROM quizzes WHERE is_visible = 1
	</select>-->
	
	<!--全件検索：非表示は含まない -->
	<select id="selectAll" resultMap="QuizWithAnserResult"><!-- テーブル名：answer_historyからhistoryに修正  -->
		SELECT 
		q.id, q.question, q.image_path, q.answer_1, q.answer_2, q.answer_3, q.answer_4, q.correct_ans, q.category_id,
		c.category_id, c.category_name, 
		h.quiz_id, h.is_correct, h.answered_at 
		FROM quizzes q
		LEFT JOIN categories c ON q.category_id = c.category_id
		LEFT JOIN history h ON q.id = h.quiz_id
		WHERE is_visible = 1
		ORDER BY q.id
	</select>
	<!--非表示も含めて全件表示：管理者用-->
	<select id="selectAllAdmin" resultMap="QuizWithAnserResult">
		SELECT 
		q.id, q.question, q.image_path, q.answer_1, q.answer_2, q.answer_3, q.answer_4, q.correct_ans, q.category_id, q.is_visible,
		c.category_id, c.category_name, 
		h.quiz_id, h.is_correct, h.answered_at 
		FROM quizzes q
		LEFT JOIN categories c ON q.category_id = c.category_id
		LEFT JOIN history h ON q.id = h.quiz_id
		ORDER BY q.id
	</select>
	<!--1件検索：あえてvisible指定なし
	<select id="selectById" resultType="com.anki.mynote.entity.Quiz">
		SELECT id, question, image_path as imagePath, answer_1 as answer1, answer_2 as answer2, answer_3 as answer3, 
		answer_4 as answer4, correct_ans as correctAns, category_id as categoryId FROM quizzes WHERE id = #{id} 
	</select>-->
	<select id="selectById" resultMap="QuizWithAnserResult">
		SELECT 
		q.id, q.question, q.image_path, q.answer_1, q.answer_2, q.answer_3, q.answer_4, q.correct_ans, q.category_id, q.is_visible,
		c.category_id, c.category_name, 
		h.quiz_id, h.is_correct, h.answered_at 
		FROM quizzes q
		LEFT JOIN categories c ON q.category_id = c.category_id
		LEFT JOIN history h ON q.id = h.quiz_id
		WHERE q.id=#{id}
	</select>
	<!--登録-->
	<insert id="insert">
		INSERT INTO quizzes (question, answer_1, answer_2, answer_3, answer_4, correct_ans, category_id, image_path) 
		VALUES (#{question}, #{answer1}, #{answer2}, #{answer3}, #{answer4}, #{correctAns}, #{categoryId}, #{imagePath})
	</insert>
	<!--更新-->
	<update id="update">
		UPDATE quizzes SET question = #{question}, answer_1 = #{answer1}, answer_2 = #{answer2}, 
		answer_3 = #{answer3}, answer_4 = #{answer4}, correct_ans = #{correctAns}, category_id =  #{categoryId}, image_path =  #{imagePath}
		WHERE id = #{id} 
	</update>
	<!--削除-->
	<delete id="delete">
		DELETE FROM quizzes WHERE id = #{id} 
	</delete>
	<!--非表示にする-->
	<update id="hide">
	    UPDATE quizzes SET is_visible = 0 WHERE id = #{id}
	</update>
		<!--再度表示する-->
	<update id="show">
	    UPDATE quizzes SET is_visible = 1 WHERE id = #{id}
	</update>
	<insert id="save" parameterType="com.anki.mynote.entity.Quiz">
	  INSERT INTO quizzes (id, question, answer_1, answer_2, answer_3, answer_4, correct_ans, category_id, is_visible, image_path)
	  VALUES (#{id}, #{question}, #{answer1}, #{answer2}, #{answer3}, #{answer4}, #{correctAns}, #{categoryId}, #{isVisible}, #{imagePath})
	</insert>	
	<!-- ↓resultMapを使わない asでエイリアス名つけるパターン↓-->
	<select id="selectHistoryByQuizId" resultType="com.anki.mynote.entity.History">
	  SELECT quiz_id as quizId, is_correct as isCorrect, answered_at as answeredAt
	  FROM history
	  WHERE quiz_id = #{quizId}
	</select>
	<insert id="insertHistory" parameterType="com.anki.mynote.entity.History">
	  INSERT INTO history (quiz_id, is_correct, answered_at)
	  VALUES (#{quizId}, #{isCorrect}, CURRENT_TIMESTAMP)
	</insert>	
	<update id="updateHistory" parameterType="com.anki.mynote.entity.History">
	  UPDATE history 
	  SET is_correct = #{isCorrect}, answered_at = CURRENT_TIMESTAMP
	  WHERE quiz_id = #{quizId}
	</update>
	<!--	カテゴリ一覧取得-->
	<select id="selectAllCategories" resultMap="CategoryResultMap">
	    SELECT category_id, category_name FROM categories ORDER BY category_id
	</select>
	<!--	IDからカテゴリ名取得-->
	<select id="findCategoryById" resultMap="CategoryResultMap">
	    SELECT category_id, category_name
	    FROM categories
	    WHERE category_id = #{categoryId}
	</select>

</mapper>