@charset "utf-8";

/* ============================ */
/*  暗記帳アプリ myNote 共通CSS  */
/*        2025/10/24  更新      */
/* ============================ */


/* ========== 全体設定 ========== */

@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Share:ital,wght@0,400;0,700;1,400;1,700&family=Zen+Maru+Gothic:wght@500;700;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Share:ital,wght@0,400;0,700;1,400;1,700&family=Zen+Maru+Gothic&display=swap'); */

.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.zen-maru-gothic-regular {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.zen-maru-gothic-medium {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.zen-maru-gothic-bold {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.zen-maru-gothic-black {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 900;
  font-style: normal;
}


html {
  /* color: #002071; */
  color: #260597;
  /* color: #68aeff; */
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 900;
  font-style: normal;
}

body {
  /* background-color: #ffeef9; */
  background-color: #ffd9f2;
}

body,
h1,
h2,
h3,
p,
ul,
ol,
li,
dl,
dt,
dd,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  /*line-height: 1em;*/
  /* font-size: 11px; */
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
a:active {
  color:hotpink;
}

img,
source {
  width: 100%;
  object-fit: cover;
}


/* ========== レイアウト ========== */
.outerWrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
  min-width: 365px;
}

.wrapper {
  width: 360px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

/* ========== ヘッダー ========== */
#header {
  position: relative;
}

#header h1 {
  font-family: "Cherry Bomb One", system-ui;
  text-align: center;
  line-height: 1em;
  font-size: 40px;
  position: absolute;
  top: 30px;
  left: 65px;
  right: 50px;
}

#header nav {
  display: flex;
  margin: 0 15px 10px;
}

#header ul {
  display: flex;
  gap: 16px;
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#header nav a {
  color: #68aeff;
  font-size: 30px;
}

/* #header .nav:hover {
  transform: translateY(-4px);
  opacity: 0.85;
} */

#main {
  background: #FFF;
  padding: 30px;
  margin: -15px 20px;
}
.nemu {
	display: grid;
	align-content: center;
	gap: 30px;
}

#footer {
  font-family: "Cherry Bomb One", system-ui;
  text-align: center;
  margin: 10px auto 20px;
}

/* ========== ナビゲーションボタン ========== */


.gray {
  background-color: #777777;
}

.red {
  background-color: #bb4040;
}

.fb10 {
  font-size: 110%;
}



/* ========== 見出し ========== */
h2 {
  border-left: 5px solid #68aeff;
  font-size: 1.25em;
  padding: 0 10px;
  margin: 20px 0 10px;
  text-align: left;
}

/* ========== ボタン ========== */
.btn {}

.btn a {
  display: block;
  /* border: 1px solid #a5a5a5; */
  background: #b7d9ff;
  line-height: 3em;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  color: #260597;
  font-size: 1.5rem;
}

/* ========== テーブル ========== */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0 10px;
}

th,
td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 11px;
}


/* ========== フォーム ========== */
#paste_zone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 20pt bold 'Vollkorn';
  color: #bbb;
}
.hidden {
/*  display: none;*/
}
.visible {
  display: block;
}
.maru, .batsu {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.maru label, .batsu label {
  width: 2em;
  text-align: center;
  font-weight: bold;
  margin-right: 10px;
}

textarea {
  flex: 1;
  resize: vertical;
}
/* デフォルト：数字形式 */
.answer-label::after {
  content: attr(data-index) "．";
}

.truefalse .answer-label[data-index="1"]::after {
  content: "〇";
}
.truefalse .answer-label[data-index="2"]::after {
  content: "✕";
}
/* マルバツ形式のとき、正解ラジオボタンを非表示にする */
/*.truefalse .answer-row input[type="radio"] {*/
/*  display: none;*/
/*}*/
/*.truefalse .answer-row .label,*/
/*.truefalse .answer-row label input[type="radio"] {*/
/*  display: none;*/
/*}*/



/*メインコンテンツ（共通）*/
.contents {
	
}


/*勉強するページここから*/
section .study {
	
}
.question {
	
}
.choice {
	margin: 20px 0;
}
.choice button {
	text-align: left;
	margin: 5px 0;
	padding: 10px;
	background-color: #e4f3ff;
  border-radius: 5px;
  border: 2px solid #3F51B5;
  border-left: 15px solid #3F51B5;
  width: 100%;
}
.choice-1, .choice-2, .choice-3, .choice-4 {
	position: relative;
}
.choice-1::before,
.choice-2::before,
.choice-3::before,
.choice-4::before {
	position: absolute;
	left: 0;
	top: 25%;
	color: #FFF;
}
.choice-1::before {
  content: "１";
}
.choice-2::before {
  content: "２";
}
.choice-3::before {
  content: "３";
}
.choice-4::before {
  content: "４ ";
}

.heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.heading h2 {
	margin: 10px 0;
}
.category {
	
}
.category p {
	font-size:80%;
}
.category ul {
	display: flex;
    gap: 5px;
}
.category span,
.q-cate-list span  {
	background: url(/images/tag4.png) no-repeat;
    background-position: left;
	background-size: 110px;
    color: #FFF;
    font-size: 90%;
    padding: 5px 5px 5px 20px;
    font-weight: 400;
	border-radius: 6px;
/*	cursor: pointer;*/
}
.edit {
	
}

.try-again {
	
}
.brake-time {
	
}
.visible {
	
}
/*勉強するページここまで*/

/*問題一覧ページ*/
.question-list  {
/*	display: flex;*/
}
.question-list li {
	margin: 20px 0;
}
.question-list .detail a {
	
}
.q-detail {
	border: 5px dotted #ddd;
    border-radius: 10px;
    padding: 10px;
	background-color: aliceblue;
}
.q-link {
	margin-bottom: 10px;
}
.q-cate-list {
/*	text-align: right;*/
	margin: 10px 0;
	padding: 0;
}
.q-cate-list li {
	padding: 0;
	margin: 0;
	zoom: 0.85;
}
.q-cate-list small {
	color: #03a9f4;
	font-size: 0.8em;
}

.btn-area {
	display: flex;
	justify-content: space-between;
}
.grid-items {
	margin: 10px 0 0;;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2列で均等に分ける */
  /*grid-auto-flow: column;  横方向に並べる */
  gap: 1rem;
  align-items: center;
  justify-content: center; /* 中央揃え（任意） */
  box-sizing: border-box; 

}
.grid-items3 {
  grid-template-columns: repeat(3, 1fr); /* 3列で均等に分ける */
  gap: 5px;
  min-height: 50px;
}
.nav-btn {
  
}
.nav-btn.wide a {
	padding: 15px;
	background-color: #1a92f3;
}
.nav-btn button,
.nav-btn a {
  width: 100%;
  max-width: 100%; /* はみ出し防止 */
  box-sizing: border-box; /*padding や border を含めてwidthに収まる*/
  display: block;
  text-align: center;
}

/*問題一覧ページここまで*/

/*共通パーツ*/
.nav-btn a,
.nav-btn button {
  display: inline-block;
/*  margin: 0 5px;*/
  padding: 10px;
  background-color: #68aeff;
  color: #fff;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: 400;
  border: none;
  font-size: 14px;
/* border: 4px dotted #3F51B5;*/
}

/*.nav-btn a:hover {*/
/*  transform: translateY(2px);*/
/*  background-color: rgb(0, 0, 255);*/
/*  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);*/
/*  opacity: 0.85;*/
/*}*/
.popup {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  background-color: white;
  border: 4px solid #00e2ff;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
  font-size: 0.9em;
}
.hidden {
  display: none;
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.popup.fadeout {
  animation: fadeOut 1s ease forwards;

}
.popup button {
  margin: 5px 0;
  padding: 8px 16px;
  font-size: 1em;
}
/*.answer-btn {*/
/*background-color: rgb(0, 0, 255);*/
/*  border: 2px solid rgb(0, 0, 255);*/
/*  color: rgb(255, 255, 255);*/
/*  padding: 10px;*/
/*  border-radius: 8px;*/
/*  font-weight: bold;*/
/*}*/
.correct {
  background-color: #e0ffe0;
  border: 2px solid #4CAF50;
  color: #2e7d32;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  margin: 10px 0;
}
button.correct {
  background-color: #d4f4dd;
  border: 2px solid #4caf50;
  border-left: 15px solid #4caf50;
}

button.incorrect {
  background-color: #fbeaea;
  border: 2px solid #f44336;
  border-left: 15px solid #f44336;
}

.incorrect {
  background-color: #ffe0e0;
  border: 2px solid #f44336;
  color: #c62828;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  margin: 10px 0;
}

/* ========== メディアクエリ ========== */
@media (min-width: 768px) {
  /* ここにレスポンシブ対応を追加 */
}